$verdeCoder: #1c8e3e;
$blancoCoder: rgba(255, 255, 255, 0.9);
$trasparente: rgba(0,0,0,0.0);
$negroCoder: rgb(20, 20, 20);
$grisClaro: rgb(206, 203, 203);
$verdeClaroCoder: #22b14c;
$grisOscuro: rgba(100, 100, 100, 0.8);