@import "colores";

@media (max-width: 576px) {

    .header{

        display: flex;
        flex-direction: column;
        justify-content: center;

        a{

            display: block;
            margin: auto;
    
        }

        .secciones{

            width: 100%;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;

            .listItem{

                list-style: none;
                transition: font-size 0.2s ease-in-out;
                padding: 15px;
                margin: auto;

                a{

                    text-decoration: none;
                    color: $grisClaro;
                    font-family: 'Lato', sans-serif;
            
                }

                a:hover{

                    color: $verdeCoder;
            
                }
            }

            li{

                margin: auto;
                list-style: none;

                .barraBusqueda{

                    display: flex;
                    flex-direction: row; 
                    padding: 2px;
                    justify-content: center;
    
                    .campoBusqueda{
    
                        border: none;
                        background-color: #fff;
                        border-radius: 2px;
                        width: 40%;
                        margin-left: 20px;
                        padding-left: 8px;
                        outline: none;
                        color: #000;
                        font-weight: bold;
                        letter-spacing: 1px;
                        
                    }
    
                    .buttonSearch{
    
                        border: none;
                        margin-left: 5px;
                        margin-right: 8px;
                        font-size: 1rem;
                        padding: 5px;
                        background-color: $trasparente;
                        color: $blancoCoder;
                
                    }
                }
            }
        }
    }

    .img-principal .descripcionMovie{

        max-width: 100%;

    }

    .containerIndex,
    .containerSeriesMovies{

        width: 100%;
        margin-top: 25px;

        .subtitle{

            font-size: 2rem;
            margin-top: 20px;
            border-top: 3px solid $verdeCoder;
            padding-top: 15px;
        }

        .box{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 0px;

            .foto{

                width: 60%;
                height: 60%;
                margin: 5px;
                border: none;
            }        
        }

        .boxDestacados{

            .fotoDestacada{

                width: 40%;
                height: 40%;
                margin: 20px;
            }
        }
    }
    
    /************************AYUDA.HTML****************************************/

    .containerHelp{

        margin: auto;
        text-align: center;
        padding: 30px;

        h1{

            padding-top: 30px;
            font-size: 2rem;
            text-transform: uppercase;
            color: $verdeCoder;
    
        }

        .boxHelp{

            .itemsHelp{

                width: 80%;

                li a{

                    font-size: 1.5rem;
                    text-transform: uppercase;

                }
            }
        }

        .containerButtons{

            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            div{

                display: flex;
                flex-direction: column;
                margin: auto;
                align-items: center;
                background-color: $verdeCoder;
                border: 3px solid $blancoCoder;
                border-radius: 10px;

                .buttonsHelp{

                    margin: 0px;
                    padding: 0px 10px 10px 10px;
                    border: none;
                    font-size: 1rem;
                    color: $blancoCoder;
                    background-color: $verdeCoder;
                    font-weight: normal;
                    letter-spacing: 2px;
            
                }

                i{

                    padding: 10px;
                    color: $blancoCoder;
                    border: none;

                }
            }
        }
    }


    /************************planes.HTML****************************************/

    .boxPlanes{

        h1{

            font-size: 1.7rem;
            text-transform: uppercase;
    
        }

        .container-planes{

            margin: 0px;
            display: block;
            flex-direction: column;
            justify-content: center;

            .boxPlan{

                margin: 20px;
                border: none;
                border-bottom: 2px solid $verdeCoder;
                border-radius: 0px;
                background-color: $negroCoder;

                h2{

                    color: $verdeClaroCoder;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 1.5rem;
            
                }

                ul{

                    text-align: center;
                    margin: auto;
                    letter-spacing: 1px;

                    li{

                        padding: 15px;
                        text-align: center;
                        color: $blancoCoder;
                        font-size: 1.2rem;
                
                    }
            
                }

                .getPlan{

                    margin: 20px auto 20px auto;
                    padding: 10px 30px 10px 30px;
                    cursor: pointer;
                    border-radius: 0px;
                    letter-spacing: 2px;
                    font-weight: bold;
            
                }
            }
        }
    }

    /*************login.html***************/

    .containerLogin{

        width: 100%;
        margin: 40px auto 30px auto;
        display: flex;
        flex-direction: column;

        .titleLogin{

            width: 30%;
            font-size: 1.5rem;
            border-bottom: 3px solid $verdeCoder;
    
        }

        .recuadroDatosUser{

            margin: 5px;

            i{

                color: $blancoCoder;
                margin-right: 10px;
                
            }

            .boxDatosUser{

                padding: 10px;
                border-bottom: 1px solid $verdeCoder;
        
            }

            #send{

                font-size: 1rem;
        
            }
    
        }

        
        .notLogin{

            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: $trasparente;
            align-items: center;
            font-size: 1rem;
            margin-top: 15px;

        }

    }

    /**********************new-user.html******************/

    .recuadroDatos{

        width: 100%;
        margin: 30px auto auto auto;
        color: $verdeClaroCoder;
        font-size: 1rem;

        h1{

            margin: auto;
            text-align: center;
            color: $blancoCoder;
            width: 80%;
    
        }

        .campoDatos{

            text-align: center;
            margin-top: 30px;
            padding-bottom: 30px;

            legend{

                margin-bottom: 20px;
                font-size: 1.5rem;
        
            }

            div{

                margin: 10px;
        
            }

            input{

                border-radius: 0px;
                font-size: 1.2rem;
        
            }

            select{

                font-size: 1rem;
                border-radius: 0px;
                padding-left: 5px;
        
            }

            .cuadroDeDatos div{

                display: inline;
        
            }
    
        }

        .termsConditions{

            width: 100%;
            font-size: 1.2rem;

            h2{

                font-size: 1.2rem;
                margin-bottom: 20px;
        
            }
    
        }

        .cuadroBotones .botonNewUser{

            border-radius: 0px;
            padding: 10px 20px 10px 20px;
    
        }

    }


    /*********************reestablecerpw**************/
    
    .recuadroForgot{

        width: 100%;
        margin: 100px auto 100px auto;
        color: $verdeClaroCoder;
        font-size: 1rem;
        text-align: center;

        div{

            font-size: 1.2rem;
    
        }

        .sendCode{

            border-radius: 5px;
    
        }

        .fieldMail{

            border-radius: 0px;
            padding: 5px 0px 5px 5px;
            text-align: left;
            font-size: 1.2rem;
            
        }

    }

    /*************preguntas-frecuentes.html***************/

    
    .seccion{

        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .seccion__preguntas{

            background-color: $negroCoder;
            width: 100%;
            text-align: center;
            font-size: 1rem;/**/
            border-right: none;/**/
            margin-top: 40px;/**/
            border-bottom: 3px solid $verdeCoder;

            li{

                padding: 0px;/**/
        
            }

            a{

                text-decoration: none;
                font-weight: bold;
                color: $blancoCoder;
                padding: 20px auto;
        
            }
            
    
        }

        .seccion__respuestas{

            width: 100%;/**/
            text-align: center;
            overflow: auto;

            h1{

                margin: 30px auto;
                letter-spacing: 1px;/**/
                color: $blancoCoder;
                display: none;
        
            }

            h2{

                margin: 20px auto;
                letter-spacing: 1px;/**/
                color: $verdeCoder;/**/
        
            }

            p{

                width: 100%;
                margin: auto;
                height: auto;
                font-size: 1rem;
        
            }

            span{

                font-weight: bold;
            }

            a{

                text-decoration: none;
                color: $verdeCoder;
        
            }
        }
    }
}

/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/

@media (min-width: 577px) and (max-width: 830px){

    .header{

        display: flex;
        flex-direction: column;
        justify-content: center;

        a{

            display: block;
            margin: auto;
    
        }

        .secciones{

            width: 100%;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;

            .listItem{

                list-style: none;
                transition: font-size 0.2s ease-in-out;
                padding: 15px;
                margin: auto;

                a{

                    text-decoration: none;
                    color: $grisClaro;
                    font-family: 'Lato', sans-serif;
            
                }

                a:hover{

                    color: $verdeCoder;
            
                }
            }

            li{

                margin: auto;
                list-style: none;

                .barraBusqueda{

                    display: flex;
                    flex-direction: row; 
                    padding: 2px;
                    justify-content: center;
    
                    .campoBusqueda{
    
                        border: none;
                        background-color: #fff;
                        border-radius: 2px;
                        width: 40%;
                        margin-left: 20px;
                        padding-left: 8px;
                        outline: none;
                        color: #000;
                        font-weight: bold;
                        letter-spacing: 1px;
                        
                    }
    
                    .buttonSearch{
    
                        border: none;
                        margin-left: 5px;
                        margin-right: 8px;
                        font-size: 1rem;
                        padding: 5px;
                        background-color: $trasparente;
                        color: $blancoCoder;
                
                    }
                }
            }
        }
    
    }

    .img-principal .descripcionMovie{

        max-width: 100%;

    }

    .containerIndex,
    .containerSeriesMovies{

        width: 100%;
        margin-top: 25px;

        .subtitle{

            font-size: 1.5rem;
        }

        .box{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px;

            .foto{

                width: 20%;
                height: 20%;
                margin: 20px 40px;
                border: none;
            }        
        }

        .boxDestacados{

            .fotoDestacada{

                width: 40%;
                height: 40%;
                margin: 20px;
            }
        }
    }
    
    /************************AYUDA.HTML****************************************/

    
    .containerHelp{

        margin: auto;
        text-align: center;
        padding: 30px;

        h1{

            padding-top: 30px;
            font-size: 2rem;
            text-transform: uppercase;
            color: $verdeCoder;
    
        }

        .boxHelp{

            .itemsHelp{

                width: 80%;

                li a{

                    font-size: 1.5rem;
                    text-transform: uppercase;

                }
            }
        }

        .containerButtons{

            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            div{

                display: flex;
                flex-direction: column;
                margin: 10px;
                align-items: center;
                background-color: $verdeCoder;
                border: 3px solid $blancoCoder;
                border-radius: 10px;

                .buttonsHelp{

                    margin: 0px;
                    padding: 0px 10px 10px 10px;
                    border: none;
                    font-size: 1rem;
                    color: $blancoCoder;
                    background-color: $verdeCoder;
                    font-weight: normal;
                    letter-spacing: 2px;
            
                }

                i{

                    padding: 10px;
                    color: $blancoCoder;
                    border: none;

                }

            }
        }
    }


    /************************planes.HTML****************************************/

    .boxPlanes{

        h1{

            font-size: 1.7rem;
            text-transform: uppercase;
    
        }

        .container-planes{

            margin: 0px;
            display: block;
            flex-direction: column;
            justify-content: center;

            .boxPlan{

                margin: 20px;
                border: none;
                border-bottom: 2px solid $verdeCoder;
                border-radius: 0px;
                background-color: $negroCoder;

                h2{

                    color: $verdeClaroCoder;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 1.5rem;
            
                }

                ul{

                    text-align: center;
                    margin: auto;
                    letter-spacing: 1px;

                    li{

                        padding: 15px;
                        text-align: center;
                        color: $blancoCoder;
                        font-size: 1.2rem;
                
                    }
            
                }

                .getPlan{

                    margin: 20px auto 20px auto;
                    padding: 10px 30px 10px 30px;
                    cursor: pointer;
                    border-radius: 0px;
                    letter-spacing: 2px;
                    font-weight: bold;
            
                }
            }
        }
    }

    /*************login.html***************/

    .containerLogin{

        width: 100%;
        margin: 40px auto 30px auto;
        display: flex;
        flex-direction: column;

        .titleLogin{

            width: 30%;
            font-size: 1.5rem;
            border-bottom: 3px solid $verdeCoder;
    
        }

        .recuadroDatosUser{

            margin: 5px;

            i{

                color: $blancoCoder;
                margin-right: 10px;
                
            }

            .boxDatosUser{

                padding: 10px;
                border-bottom: 1px solid $verdeCoder;
        
            }

            #send{

                font-size: 1rem;
        
            }
    
        }

        
        .notLogin{

            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: $trasparente;;
            align-items: center;
            font-size: 1rem;
            margin-top: 15px;

        }

    }

    /**********************new-user.html******************/

    .recuadroDatos{

        width: 100%;
        margin: 30px auto auto auto;
        color: $verdeClaroCoder;
        font-size: 1rem;

        h1{

            margin: auto;
            text-align: center;
            color: $blancoCoder;
            width: 80%;
    
        }

        .campoDatos{

            text-align: center;
            margin-top: 30px;
            padding-bottom: 30px;

            legend{

                margin-bottom: 20px;
                font-size: 1.5rem;
        
            }

            div{

                margin: 10px;
        
            }

            input{

                border-radius: 0px;
                font-size: 1.2rem;
        
            }

            select{

                font-size: 1rem;
                border-radius: 0px;
                padding-left: 5px;
        
            }

            .cuadroDeDatos div{

                display: inline;
        
            }
    
        }

        .termsConditions{

            width: 100%;
            font-size: 1.2rem;

            h2{

                font-size: 1.2rem;
                margin-bottom: 20px;
        
            }
    
        }

        .cuadroBotones .botonNewUser{

            border-radius: 0px;
            padding: 10px 20px 10px 20px;
    
        }

    }


    /*********************reestablecerpw**************/
    
    .recuadroForgot{

        width: 100%;
        margin: 100px auto 100px auto;
        color: $verdeClaroCoder;
        font-size: 1rem;
        text-align: center;

        div{

            font-size: 1.2rem;
    
        }

        .sendCode{

            border-radius: 5px;
    
        }

        .fieldMail{

            border-radius: 0px;
            padding: 5px 0px 5px 5px;
            text-align: left;
            font-size: 1.2rem;
            
        }

    }

    /*************preguntas-frecuentes.html***************/

    
    .seccion{

        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .seccion__preguntas{

            background-color: $negroCoder;
            width: 100%;
            text-align: center;
            font-size: 1rem;/**/
            border-right: none;/**/
            margin-top: 40px;/**/
            border-bottom: 3px solid $verdeCoder;

            li{

                padding: 0px;/**/
        
            }

            a{

                text-decoration: none;
                font-weight: bold;
                color: $blancoCoder;
                padding: 20px auto;
        
            }
            
    
        }

        .seccion__respuestas{

            width: 100%;/**/
            text-align: center;
            overflow: auto;

            h1{

                margin: 30px auto;
                letter-spacing: 1px;/**/
                color: $blancoCoder;
                display: none;
        
            }

            h2{

                margin: 20px auto;
                letter-spacing: 1px;/**/
                color: $verdeCoder;/**/
        
            }

            p{

                width: 100%;
                margin: auto;
                height: auto;
                font-size: 1rem;
        
            }

            span{

                font-weight: bold;
            }

            a{

                text-decoration: none;
                color: $verdeCoder;
        
            }
        }
    }
}


/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/

@media (min-width: 831px) and (max-width: 1200px){

    .header{

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        a{

            display: block;
            margin: auto;
    
        }

        .secciones{

            width: 100%;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;

            .listItem{

                list-style: none;
                transition: font-size 0.2s ease-in-out;
                padding: 15px;
                margin: auto;

                a{

                    text-decoration: none;
                    color: $grisClaro;
                    font-family: 'Lato', sans-serif;
            
                }

                a:hover{

                    color: $verdeCoder;
            
                }
            }

            li{

                margin: auto;
                list-style: none;

                .barraBusqueda{

                    display: flex;
                    flex-direction: row; 
                    padding: 2px;
                    justify-content: center;
    
                    .campoBusqueda{
    
                        border: none;
                        background-color: #fff;
                        border-radius: 2px;
                        width: 40%;
                        margin-left: 20px;
                        padding-left: 8px;
                        outline: none;
                        color: #000;
                        font-weight: bold;
                        letter-spacing: 1px;
                        
                    }
    
                    .buttonSearch{
    
                        border: none;
                        margin-left: 5px;
                        margin-right: 8px;
                        font-size: 1rem;
                        padding: 5px;
                        background-color: $trasparente;
                        color: $blancoCoder;
                
                    }
                }
            }
        }
    
    }

    .img-principal .descripcionMovie{

        max-width: 100%;

    }

    .containerIndex,
    .containerSeriesMovies{

        width: 100%;
        margin-top: 25px;

        .subtitle{

            font-size: 1.5rem;
        }

        .box{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px;

            .foto{

                width: 20%;
                height: 20%;
                margin: 20px 40px;
                border: none;
            }        
        }

        .boxDestacados{

            .fotoDestacada{

                width: 40%;
                height: 40%;
                margin: 20px;
            }
        }
    }
    
    /************************AYUDA.HTML****************************************/

    
    .containerHelp{

        margin: auto;
        text-align: center;
        padding: 30px;

        h1{

            padding-top: 30px;
            font-size: 2rem;
            text-transform: uppercase;
            color: $verdeCoder;
    
        }

        .boxHelp{

            .itemsHelp{

                width: 80%;

                li a{

                    font-size: 1.5rem;
                    text-transform: uppercase;

                }
            }
        }

        .containerButtons{

            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            div{

                display: flex;
                flex-direction: column;
                margin: 10px;
                align-items: center;
                background-color: $verdeCoder;
                border: 3px solid $blancoCoder;
                border-radius: 10px;

                .buttonsHelp{

                    margin: 0px;
                    padding: 0px 10px 10px 10px;
                    border: none;
                    font-size: 1rem;
                    color: $blancoCoder;
                    background-color: $verdeCoder;
                    font-weight: normal;
                    letter-spacing: 2px;
            
                }

                i{

                    padding: 10px;
                    color: $blancoCoder;
                    border: none;

                }

            }
        }
    }


    /************************planes.HTML****************************************/

    .boxPlanes{

        h1{

            font-size: 1.7rem;
            text-transform: uppercase;
    
        }

        .container-planes{

            margin: 0px;
            display: block;
            flex-direction: column;
            justify-content: center;

            .boxPlan{

                margin: 20px;
                border: none;
                border-bottom: 2px solid $verdeCoder;
                border-radius: 0px;
                background-color: $negroCoder;

                h2{

                    color: $verdeClaroCoder;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 1.5rem;
            
                }

                ul{

                    text-align: center;
                    margin: auto;
                    letter-spacing: 1px;

                    li{

                        padding: 15px;
                        text-align: center;
                        color: $blancoCoder;
                        font-size: 1.2rem;
                
                    }
            
                }

                .getPlan{

                    margin: 20px auto 20px auto;
                    padding: 10px 30px 10px 30px;
                    cursor: pointer;
                    border-radius: 0px;
                    letter-spacing: 2px;
                    font-weight: bold;
            
                }
            }
        }
    }

    /*************login.html***************/

    .containerLogin{

        width: 100%;
        margin: 40px auto 30px auto;
        display: flex;
        flex-direction: column;

        .titleLogin{

            width: 30%;
            font-size: 1.5rem;
            border-bottom: 3px solid $verdeCoder;
    
        }

        .recuadroDatosUser{

            margin: 5px;

            i{

                color: $blancoCoder;
                margin-right: 10px;
                
            }

            .boxDatosUser{

                padding: 10px;
                border-bottom: 1px solid $verdeCoder;
        
            }

            #send{

                font-size: 1rem;
        
            }
    
        }

        
        .notLogin{

            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: $trasparente;;
            align-items: center;
            font-size: 1rem;
            margin-top: 15px;

        }

    }

    /**********************new-user.html******************/

    .recuadroDatos{

        width: 100%;
        margin: 30px auto auto auto;
        color: $verdeClaroCoder;
        font-size: 1rem;

        h1{

            margin: auto;
            text-align: center;
            color: $blancoCoder;
            width: 80%;
    
        }

        .campoDatos{

            text-align: center;
            margin-top: 30px;
            padding-bottom: 30px;

            legend{

                margin-bottom: 20px;
                font-size: 1.5rem;
        
            }

            div{

                margin: 10px;
        
            }

            input{

                border-radius: 0px;
                font-size: 1.2rem;
        
            }

            select{

                font-size: 1rem;
                border-radius: 0px;
                padding-left: 5px;
        
            }

            .cuadroDeDatos div{

                display: inline;
        
            }
    
        }

        .termsConditions{

            width: 100%;
            font-size: 1.2rem;

            h2{

                font-size: 1.2rem;
                margin-bottom: 20px;
        
            }
    
        }

        .cuadroBotones .botonNewUser{

            border-radius: 0px;
            padding: 10px 20px 10px 20px;
    
        }

    }


    /*********************reestablecerpw**************/
    
    .recuadroForgot{

        width: 100%;
        margin: 100px auto 100px auto;
        color: $verdeClaroCoder;
        font-size: 1rem;
        text-align: center;

        div{

            font-size: 1.2rem;
    
        }

        .sendCode{

            border-radius: 5px;
    
        }

        .fieldMail{

            border-radius: 0px;
            padding: 5px 0px 5px 5px;
            text-align: left;
            font-size: 1.2rem;
            
        }

    }

    /*************preguntas-frecuentes.html***************/

    
    .seccion{

        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .seccion__preguntas{

            background-color: $negroCoder;
            width: 100%;
            text-align: center;
            font-size: 1rem;/**/
            border-right: none;/**/
            margin-top: 40px;/**/
            border-bottom: 3px solid $verdeCoder;

            li{

                padding: 0px;/**/
        
            }

            a{

                text-decoration: none;
                font-weight: bold;
                color: $blancoCoder;
                padding: 20px auto;
        
            }
            
    
        }

        .seccion__respuestas{

            width: 100%;/**/
            text-align: center;
            overflow: auto;

            h1{

                margin: 30px auto;
                letter-spacing: 1px;/**/
                color: $blancoCoder;
                display: none;
        
            }

            h2{

                margin: 20px auto;
                letter-spacing: 1px;/**/
                color: $verdeCoder;/**/
        
            }

            p{

                width: 100%;
                margin: auto;
                height: auto;
                font-size: 1rem;
        
            }

            span{

                font-weight: bold;
            }

            a{

                text-decoration: none;
                color: $verdeCoder;
        
            }
        }
    }
}
