@import "colores";

@media (max-width: 424px){

    .header{

        width: 100%;
        flex-direction: column;
        position: static;
       
        .containerLogo{

            width: 100%;
            text-align: center;

            a img{

                width: 80%;

            }
        }

        .containerSecciones{

            width: 100%;
            margin: auto;
            display: block;
            padding: 0px;

            .secciones{

                display: flex;
                font-size: 1.5rem;
                flex-direction: row;
                padding: 20px;
                justify-content: center;


                .listItem{

                    text-align: center;
                    padding: 10px;

                    a{
                        margin: 20px auto;
                    }

                    a:hover{

                        color: $verdeCoder;
                        margin-left: 0px;

                    }

                    .campoBusqueda{

                        margin: 0px;
                        width: 100%;
                        border-radius: 0px;
    
                    }

                    i{

                        background-color: #fff;

                    }

                }

            }

            .buttonNav{

                visibility: visible;

            }
        }
    }

    .img-principal{

        display: none;

    }

    .containerIndex,
    .containerSeriesMovies{

        .subtitle{

            text-align: center;
            font-size: 2rem;

        }


        .destacadosKids{

            display: none;
            
        }

        .boxDestacados{

            display: none;    
        }
    }   

    .containerCards{

        display: none;
    }

    .containerFirstMovie{

        display: none;

    }

    .footerF{

        font-size: 1.2rem;

        span{

            display: block;

        }

        a{
            img{

                width: 40%;
            }
        }
    }

    /* LOGIN.HTML *////////////////////////////////////////

    .containerLogin{

        width: 100%;
        margin: 20px auto 100px auto;

        .titleLogin{

            width: 40%;
            font-size: 2rem;

        }

        a{
            font-size: 1.3rem;
        }

        .recuadroDatosUser{
            
            .boxDatosUser{

                width: 80%;

            }

        }
    }


    /* NEW-USER.HTML *////////////////////////////////////////

    .recuadroDatos{

        width: 100%;

        .cuadroBotones{

            width: 100%;

            .botonNewUser{

                width: 40%;
                display: block;
                margin: 10px auto;

            }

        }

    }

    /* ayuda.HTML *////////////////////////////////////////

    .containerHelp{ 

        margin: 20px auto;
        margin-top: 0px;
        width: 100%; 

        h1{

            padding: 20px;
            font-size: 2.2rem;
        
        }

        .boxHelp{
            
            .itemsHelp{

                width: 100%;

                li{
                    a{
        
                        font-size: 1.8rem;
        
                    }
                }
            }

            .itemsHelp li a:hover{

                color: $verdeClaroCoder;
            
            }
        }

        .containerButtons{

            display: block;

            div{

                width: 80%;

            }
        }
    }

    /* reestablecer-pw.HTML *////////////////////////////////////////

    .recuadroForgot{

        width: 100%;
        margin: 10px 0px 50px 0px;

    }

    /* planes.HTML *////////////////////////////////////////

    .boxPlanes{

        margin: 0px auto 100px auto;

        h1{

            font-size: 2rem;
            margin: 10px;
        
        }

        .container-planes{

            margin: auto auto 10px auto;
            display: flex;
            flex-direction: column;
        
        }
    }

    /* appcoder.HTML *////////////////////////////////////////

    .boxApps{

        margin-top: 10px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;

        .boxMarca{

            width: 100%;
            flex-direction: column;
            margin: 20px auto;

        }

        .boxMarca:hover{

            transform: scale(1.0);

        }


    }


    /* cuenta.HTML *//////////////////////////////////////////

    .boxAyudaLogin{

        margin-top: 0px;

        .boxBotonesLogin{

            width: 100%;
            text-align: center;

            button{

                padding: 10px 25px;

            }
        }

        .campoDeAyuda{

            width: 100%;

            input{

                width: 80%;

            }

        }

        .boxAyudaTemas{

            padding-bottom: 40px;
            flex-direction: column;

            .itemBox{

                padding: 10px;
                margin: 10px;
                text-align: center;
               

                h2{

                    color: $verdeCoder;
                    font-size: 2rem;

                } 

                ul li{

                    font-size: 1.2rem;
                    list-style: none;
                    text-decoration: underline;
                }
            }
        }
    }

    /* preguntasFrecuentes.HTML *////////////////////////////////////////

    .seccion{

        width: 100%;
        margin: 0px auto;

        .seccion__respuestas{

            width: 100%;

            h1{

                margin: 30px auto;
            
            }

            .pregunta{

                margin: 20px auto;
                font-size: 1.5rem;
            
            }

            p{

                width: 90%;
                font-size: 1.2rem;

            }
        }
    }
}

@media (min-width: 425px) and (max-width: 576px){

    .header{

        width: 100%;
        flex-direction: column;
        position: static;
       
        .containerLogo{

            width: 100%;
            text-align: center;

            a img{

                width: 80%;

            }
        }

        .containerSecciones{

            width: 100%;
            margin: auto;
            display: block;
            padding: 0px;

            .secciones{

                display: flex;
                font-size: 1.5rem;
                flex-direction: row;
                padding: 20px;
                justify-content: center;


                .listItem{

                    text-align: center;
                    padding: 10px;

                    a{
                        margin: 20px auto;
                    }

                    a:hover{

                        color: $verdeCoder;
                        margin-left: 0px;

                    }

                    .campoBusqueda{

                        margin: 0px;
                        width: 100%;
                        border-radius: 0px;
    
                    }

                    i{

                        background-color: #fff;

                    }

                }

            }

            .buttonNav{

                visibility: visible;

            }
        }
    }

    .img-principal{

        margin-top: 20px;

        .contenedorImg{

            margin: 0 auto;
            margin-bottom: 30px;
        
        }

        .descripcionMovie{

            font-size: 1.2em;
            max-width: 100%;
    
        }

    }

    .containerIndex,
    .containerSeriesMovies{

        .subtitle{

            text-align: center;
            font-size: 2rem;

        }

        .destacadosKids{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            margin: 50px auto;

            .boxDestacadoKids{
                width: 240px;

                img{

                    width: 240px;
                    height: 240px;
                    border-radius: 150px;
                    cursor: pointer

                }

                p{
                    text-align: center;
                    color: #fff;
                    margin-top: 15px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                transition: all 0.3s ease-in-out;


            }

            .boxDestacadoKids:hover{

                transform: scale(1.1);

                img{
                    box-shadow: 0px 0px 30px $verdeClaroCoder;
                }
            }
        }


        .boxDestacados{

            .fotoDestacada{

                width: 200px;
                height: 290px;
                margin: 15px;

            }        
        }
    }   

    .containerCards{

        .card{

            width: 100%;
            margin: 0px;
            transition: all 0.3s ease-in-out;

            .cover{

                .img__back{

                    border-radius: 0px;
        
                }
            }

            .descripcion{

                border-radius: 0px;
                font-size: 1.2rem;

                h2{

                    font-size: 1.5rem;

                }
            }
        }
    }

    .containerFirstMovie{

        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;

        .portadaMovie{

            width: 100%;

            img{

                width: 100%;
                margin: auto;
                
            }
        }

        .descripcionMovie{

            font-size: 1.2rem;

        }
    }

    .footerF{

        font-size: 1.2rem;

        span{

            display: block;

        }

        a{
            img{

                width: 40%;
            }
        }
    }

    /* LOGIN.HTML *////////////////////////////////////////

    .containerLogin{

        width: 100%;
        margin: 20px auto 100px auto;

        a{
            font-size: 1.3rem;
        }

    }

    /* NEW-USER.HTML *////////////////////////////////////////

    .recuadroDatos{

        width: 100%;

        .cuadroBotones{

            width: 100%;

            .botonNewUser{

                width: 40%;
                display: block;
                margin: 10px auto;

            }

        }

    }

    /* ayuda.HTML *////////////////////////////////////////

    .containerHelp{ 

        margin: 20px auto;
        margin-top: 0px;
        width: 100%; 

        h1{

            padding: 20px;
            font-size: 2.2rem;
        
        }

        .boxHelp{
            
            .itemsHelp{

                width: 100%;

                li{
                    a{
        
                        font-size: 1.8rem;
        
                    }
                }
            }

            .itemsHelp li a:hover{

                color: $verdeClaroCoder;
            
            }
        }

        .containerButtons{

            div{

                width: 40%;

            }
        }
    }

    /* reestablecer-pw.HTML *////////////////////////////////////////

    .recuadroForgot{

        width: 100%;
        margin: 10px 0px 50px 0px;

    }

    /* planes.HTML *////////////////////////////////////////

    .boxPlanes{

        margin: 0px auto 100px auto;

        h1{

            font-size: 2rem;
            margin: 10px;
        
        }

        .container-planes{

            margin: auto auto 10px auto;
            display: flex;
            flex-direction: column;
        
        }
    }

    /* appcoder.HTML *////////////////////////////////////////

    .boxApps{

        margin-top: 10px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;

    
        .boxMarca{

            width: 80%;
            flex-direction: column;
            margin: 20px auto;

        }

    }

    /* cuenta.HTML *//////////////////////////////////////////

    .boxAyudaLogin{

        margin-top: 0px;

        .boxBotonesLogin{

            width: 100%;
            text-align: center;

            button{

                padding: 10px 25px;

            }
        }

        .campoDeAyuda{

            width: 100%;

            input{

                width: 80%;

            }

        }

        .boxAyudaTemas{

            padding-bottom: 40px;
            flex-direction: column;

            .itemBox{

                padding: 10px;
                margin: 10px;
                text-align: center;
               

                h2{

                    color: $verdeCoder;
                    font-size: 2rem;

                } 

                ul li{

                    font-size: 1.2rem;
                    list-style: none;
                    text-decoration: underline;
                }
            }
        }
    }

    /* preguntasFrecuentes.HTML *////////////////////////////////////////

    .seccion{

        width: 100%;
        margin: 0px auto;

        .seccion__respuestas{

            width: 100%;

            h1{

                margin: 30px auto;
            
            }

            .pregunta{

                margin: 20px auto;
                font-size: 1.5rem;
            
            }

            p{

                width: 90%;
                font-size: 1.2rem;

            }
        }
    }
}

@media (min-width: 577px) and (max-width: 630px){

    .header{

        width: 100%;
        flex-direction: column;
        position: static;
        
        .containerLogo{

            width: 100%;
            text-align: center;

            a img{

                width: 40%;

            }
        }

        .containerSecciones{

            width: 100%;
            margin: auto;
            display: block;
            padding: 0px;

            .secciones{

                display: flex;
                font-size: 1.5rem;
                flex-direction: row;
                padding: 20px;
                justify-content: center;


                .listItem{

                    text-align: center;
                    padding: 10px;

                    a{
                        margin: 20px auto;
                    }

                    a:hover{

                        color: $verdeCoder;
                        margin-left: 0px;

                    }

                    .campoBusqueda{

                        margin: 0px;
                        width: 100%;
                        border-radius: 0px;
    
                    }

                    i{

                        background-color: #fff;

                    }

                }

            }

            .buttonNav{

                visibility: visible;

            }
        }
    }

    .img-principal{

        margin-top: 20px;

        .contenedorImg{

            margin: 0 auto;
            margin-bottom: 30px;
        
        }

        .descripcionMovie{

            font-size: 1.2em;
            max-width: 100%;
    
        }

    }

    .containerIndex,
    .containerSeriesMovies{

        .subtitle{

            text-align: center;
            font-size: 2rem;

        }

        .destacadosKids{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            margin: 50px auto;

            .boxDestacadoKids{
                width: 240px;

                img{

                    width: 240px;
                    height: 240px;
                    border-radius: 150px;
                    cursor: pointer

                }

                p{
                    text-align: center;
                    color: #fff;
                    margin-top: 15px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                transition: all 0.3s ease-in-out;


            }

            .boxDestacadoKids:hover{

                transform: scale(1.1);

                img{
                    box-shadow: 0px 0px 30px $verdeClaroCoder;
                }
            }
        }

        .boxDestacados{

            .fotoDestacada{

                width: 220px;
                height: 310px;
                margin: 10px;

            }        
        }
    }   

    .containerCards{

        .card{

            width: 45%;
            margin: 10px;
            transition: all 0.3s ease-in-out;

            .cover{

                .img__back{

                    border-radius: 0px;
        
                }
            }

            .descripcion{

                border-radius: 0px;
                font-size: 1.2rem;

                h2{

                    font-size: 1.5rem;

                }
            }
        }
    }

    .containerFirstMovie{

        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;

        .portadaMovie{

            width: 100%;

            img{

                width: 100%;
                margin: auto;
                
            }
        }

        .descripcionMovie{

            font-size: 1.2rem;

        }
    }

    .footerF{

        font-size: 1rem;

        span{

            display: inline;

        }

        span:last-of-type{

            display: block;
    
        }

        a{
            img{

                width: 40%;
            }
        }
    }

    /* LOGIN.HTML *////////////////////////////////////////

    .containerLogin{

        width: 100%;
        margin: 20px auto 100px auto;

        a{
            font-size: 1.3rem;
        }

    }

    /* NEW-USER.HTML *////////////////////////////////////////

    .recuadroDatos{

        width: 100%;

        .cuadroBotones{

            width: 100%;

            .botonNewUser{

                width: 40%;
                display: block;
                margin: 10px auto;

            }

        }

    }

    /* ayuda.HTML *////////////////////////////////////////

    .containerHelp{ 

        margin: 20px auto;
        margin-top: 0px;
        width: 100%; 

        h1{

            padding: 20px;
            font-size: 2.2rem;
        
        }

        .boxHelp{
            
            .itemsHelp{

                width: 100%;

                li{
                    a{
        
                        font-size: 1.8rem;
        
                    }
                }
            }

            .itemsHelp li a:hover{

                color: $verdeClaroCoder;
            
            }
        }

        .containerButtons{

            div{

                width: 40%;

            }
        }
    }

    /* reestablecer-pw.HTML *////////////////////////////////////////

    .recuadroForgot{

        width: 100%;
        margin: 40px 0px 130px 0px;

    }

    /* planes.HTML *////////////////////////////////////////

    .boxPlanes{

        margin: 0px auto 100px auto;

        h1{

            font-size: 2rem;
            margin: 10px;
        
        }

        .container-planes{

            margin: auto auto 10px auto;
            display: flex;
            flex-direction: column;
        
        }
    }

    /* appcoder.HTML *////////////////////////////////////////

    .boxApps{

        margin-top: 10px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;

    
        .boxMarca{

            width: 50%;
            flex-direction: column;
            margin: 20px auto;

        }


    }


    /* cuenta.HTML *//////////////////////////////////////////

    .boxAyudaLogin{

        margin-top: 0px;

        .boxBotonesLogin{

            width: 100%;
            text-align: center;

            button{

                padding: 10px 25px;

            }
        }

        .campoDeAyuda{

            width: 100%;

            input{

                width: 80%;

            }

        }

        .boxAyudaTemas{

            padding-bottom: 40px;
            flex-direction: column;

            .itemBox{

                padding: 10px;
                margin: 10px;
                text-align: center;
               

                h2{

                    color: $verdeCoder;
                    font-size: 2rem;

                } 

                ul li{

                    font-size: 1.2rem;
                    list-style: none;
                    text-decoration: underline;
                }
            }
        }
    }

    /* preguntasFrecuentes.HTML *////////////////////////////////////////

    .seccion{

        width: 100%;
        margin: 0px auto;

        .seccion__respuestas{

            width: 100%;

            h1{

                margin: 30px auto;
            
            }

            .pregunta{

                margin: 20px auto;
                font-size: 1.5rem;
            
            }

            p{

                width: 90%;
                font-size: 1.2rem;

            }
        }
    }
}

@media (min-width: 631px) and (max-width: 800px){

    .header{

        width: 100%;
        flex-direction: column;
        position: static;
        
        .containerLogo{

            width: 100%;
            text-align: center;

            a img{

                width: 40%;

            }
        }

        .containerSecciones{

            width: 100%;
            margin: auto;
            display: block;
            padding: 0px;

            .secciones{

                display: flex;
                font-size: 1.5rem;
                flex-direction: row;
                padding: 20px;
                justify-content: center;


                .listItem{

                    text-align: center;
                    padding: 10px;

                    a{
                        margin: 20px auto;
                    }

                    a:hover{

                        color: $verdeCoder;
                        margin-left: 0px;

                    }

                    .campoBusqueda{

                        margin: 0px;
                        width: 100%;
                        border-radius: 0px;
    
                    }

                    i{

                        background-color: #fff;

                    }

                }

            }

            .buttonNav{

                visibility: visible;

            }
        }
    }

    .img-principal{

        margin-top: 20px;

        .contenedorImg{

            margin: 0 auto;
            margin-bottom: 30px;
        
        }

        .descripcionMovie{

            font-size: 1.2em;
            max-width: 100%;
    
        }

    }

    .containerIndex,
    .containerSeriesMovies{

        .subtitle{

            text-align: center;
            font-size: 2rem;

        }

        .box{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .contenedorImg{
    
                width: 180px;
                transition: all 0.3s ease-in-out;
                margin: 20px;
    
                p{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: rgba(0,0,0,0);
                    text-align: center;
                    letter-spacing: 1px;
                    visibility: hidden;
    
                    transition: all 0.3s ease-in-out;
    
                }
    
                .foto{
    
                    width: 180px;
                    height: 220px;
                    margin-top: 30px;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 1px 1px 10px $blancoCoder;
    
                    transition: all 0.3s ease-in-out;
                }
        
                
                .foto:hover{
        
                    box-shadow: 1px 1px 20px $verdeClaroCoder;
                    
                }
                
            }
    
            .contenedorImg:hover{
    
                transform: scale(1.15);
                
                p{
    
                    visibility: visible;
                    color: $blancoCoder;
    
                }
    
            }
        }

        .destacadosKids{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            margin: 50px auto;

            .boxDestacadoKids{
                width: 240px;

                img{

                    width: 240px;
                    height: 240px;
                    border-radius: 150px;
                    cursor: pointer

                }

                p{
                    text-align: center;
                    color: #fff;
                    margin-top: 15px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                transition: all 0.3s ease-in-out;


            }

            .boxDestacadoKids:hover{

                transform: scale(1.1);

                img{
                    box-shadow: 0px 0px 30px $verdeClaroCoder;
                }
            }
        }

        .boxDestacados{

            .fotoDestacada{

                width: 220px;
                height: 310px;
                margin: 10px;

            }        
        }
    }   

    .containerCards{

        .card{

            width: 45%;
            margin: 10px;
            transition: all 0.3s ease-in-out;

            .cover{

                .img__back{

                    border-radius: 0px;
        
                }
            }

            .descripcion{

                border-radius: 0px;
                font-size: 1.2rem;

                h2{

                    font-size: 1.5rem;

                }
            }
        }
    }

    .containerFirstMovie{

        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;

        .portadaMovie{

            width: 100%;

            img{

                width: 100%;
                margin: auto;
                
            }
        }

        .descripcionMovie{

            font-size: 1.2rem;

        }
    }

    .footerF{

        font-size: 1rem;

        span{

            display: inline;

        }

        span:last-of-type{

            display: block;
    
        }

        a{
            img{

                width: 20%;
            }
        }
    }

    /* LOGIN.HTML *////////////////////////////////////////

    .containerLogin{

        width: 100%;
        margin: 20px auto 100px auto;

        a{
            font-size: 1.3rem;
        }

    }

    /* NEW-USER.HTML *////////////////////////////////////////

    .recuadroDatos{

        width: 100%;

        .cuadroBotones{

            width: 100%;

            .botonNewUser{

                width: 40%;
                display: block;
                margin: 10px auto;

            }

        }

    }

    /* ayuda.HTML *////////////////////////////////////////

    .containerHelp{ 

        margin: 20px auto;
        margin-top: 0px;
        width: 100%; 

        h1{

            padding: 20px;
            font-size: 2.2rem;
        
        }

        .boxHelp{
            
            .itemsHelp{

                width: 100%;

                li{
                    a{
        
                        font-size: 1.8rem;
        
                    }
                }
            }

            .itemsHelp li a:hover{

                color: $verdeClaroCoder;
            
            }
        }

        .containerButtons{

            div{

                width: 20%;

            }
        }
    }

    /* reestablecer-pw.HTML *////////////////////////////////////////

    .recuadroForgot{

        width: 100%;
        margin: 40px 0px 130px 0px;

    }

    /* planes.HTML *////////////////////////////////////////

    .boxPlanes{

        margin: 0px auto 100px auto;

        h1{

            font-size: 2rem;
            margin: 10px;
        
        }

        .container-planes{

            margin: auto auto 10px auto;
            display: flex;
            flex-direction: column;
        
        }
    }

    /* appcoder.HTML *////////////////////////////////////////

    .boxApps{

        margin-top: 10px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;

    
        .boxMarca{

            width: 50%;
            flex-direction: column;
            margin: 20px auto;

        }


    }


    /* cuenta.HTML *//////////////////////////////////////////

    .boxAyudaLogin{

        margin-top: 0px;

        .boxBotonesLogin{

            width: 100%;
            text-align: center;
            

            button{

                padding: 10px 25px;
                font-size: 1.2rem;

            }
        }

        .campoDeAyuda{

            width: 100%;

            input{

                width: 80%;

            }

        }

        .boxAyudaTemas{

            padding-bottom: 40px;
            flex-direction: column;

            .itemBox{

                padding: 10px;
                margin: 10px;
                text-align: center;
               

                h2{

                    color: $verdeCoder;
                    font-size: 2.2rem;

                } 

                ul li{

                    font-size: 1.4rem;
                    list-style: none;
                    text-decoration: underline;
                }
            }
        }
    }

    /* preguntasFrecuentes.HTML *////////////////////////////////////////

    .seccion{

        width: 100%;
        margin: 0px auto;

        .seccion__respuestas{

            width: 100%;

            h1{

                margin: 30px auto;
            
            }

            .pregunta{

                margin: 20px auto;
                font-size: 1.5rem;
            
            }

            p{

                width: 90%;
                font-size: 1.2rem;

            }
        }
    }
}

@media (min-width: 801px) and (max-width: 1000px){

    .header{

        width: 100%;
        flex-direction: row;
        position: static;
        
        .containerLogo{

            width: 50%;
            text-align: left;

            a img{

                width: 70%;
                margin: auto;

            }
        }

        .containerSecciones{

            width: 50%;
            margin: auto;
            display: block;
            padding: 0px;

            .secciones{

                display: flex;
                font-size: 1rem;
                flex-direction: row;
                padding: 20px;
                justify-content: center;


                .listItem{

                    text-align: center;
                    padding: 10px;

                    a{
                        margin: 20px auto;
                    }

                    a:hover{

                        color: $verdeCoder;
                        margin-left: 0px;

                    }

                    .campoBusqueda{

                        margin: 0px;
                        width: 100%;
                        border-radius: 0px;
    
                    }

                    i{

                        background-color: #fff;

                    }

                }

            }

            .buttonNav{

                visibility: visible;

            }
        }
    }

    .img-principal{

        margin-top: 20px;

        .contenedorImg{

            margin: 0 auto;
            margin-bottom: 30px;
        
        }

        .descripcionMovie{

            font-size: 1.2em;
            max-width: 100%;
    
        }

    }

    .containerIndex,
    .containerSeriesMovies{

        .subtitle{

            text-align: center;
            font-size: 2rem;

        }

        .box{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .contenedorImg{
    
                width: 180px;
                transition: all 0.3s ease-in-out;
                margin: auto 40px;
    
                p{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: rgba(0,0,0,0);
                    text-align: center;
                    letter-spacing: 1px;
                    visibility: hidden;
    
                    transition: all 0.3s ease-in-out;
    
                }
    
                .foto{
    
                    width: 180px;
                    height: 220px;
                    margin-top: 30px;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 1px 1px 10px $blancoCoder;
    
                    transition: all 0.3s ease-in-out;
                }
        
                
                .foto:hover{
        
                    box-shadow: 1px 1px 20px $verdeClaroCoder;
                    
                }
                
            }
    
            .contenedorImg:hover{
    
                transform: scale(1.15);
                
                p{
    
                    visibility: visible;
                    color: $blancoCoder;
    
                }
    
            }
        }

        .destacadosKids{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            margin: 50px auto;

            .boxDestacadoKids{
                width: 240px;

                img{

                    width: 240px;
                    height: 240px;
                    border-radius: 150px;
                    cursor: pointer

                }

                p{
                    text-align: center;
                    color: #fff;
                    margin-top: 15px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                transition: all 0.3s ease-in-out;


            }

            .boxDestacadoKids:hover{

                transform: scale(1.1);

                img{
                    box-shadow: 0px 0px 30px $verdeClaroCoder;
                }
            }
        }

        .boxDestacados{

            .fotoDestacada{

                width: 260px;
                height: 350px;
                margin: 10px;

            }        
        }
    }   

    .containerCards{

        .card{

            width: 45%;
            margin: 10px;
            transition: all 0.3s ease-in-out;

            .cover{

                .img__back{

                    border-radius: 0px;
        
                }
            }

            .descripcion{

                border-radius: 0px;
                font-size: 1.2rem;

                h2{

                    font-size: 1.5rem;

                }
            }
        }
    }

    .containerFirstMovie{

        width: 80%;
        margin-bottom: 30px;
        margin-top: 30px;

        .portadaMovie{

            width: 100%;

            img{

                width: 100%;
                margin: auto;
                
            }
        }

        .descripcionMovie{

            font-size: 1.2rem;

        }
    }

    .footerF{

        font-size: 1rem;

        span{

            display: inline;

        }

        span:last-of-type{

            display: block;
    
        }

        a{
            img{

                width: 20%;
            }
        }
    }

    /* LOGIN.HTML *////////////////////////////////////////

    .containerLogin{

        width: 100%;
        margin: 20px auto 100px auto;

        a{
            font-size: 1.3rem;
        }

    }

    /* NEW-USER.HTML *////////////////////////////////////////

    .recuadroDatos{

        width: 100%;

        .cuadroBotones{

            width: 100%;

            .botonNewUser{

                width: 40%;
                display: block;
                margin: 10px auto;

            }

        }

    }

    /* ayuda.HTML *////////////////////////////////////////

    .containerHelp{ 

        margin: 20px auto;
        margin-top: 0px;
        width: 100%; 

        h1{

            padding: 20px;
            font-size: 2.2rem;
        
        }

        .boxHelp{
            
            .itemsHelp{

                width: 100%;

                li{
                    a{
        
                        font-size: 1.8rem;
        
                    }
                }
            }

            .itemsHelp li a:hover{

                color: $verdeClaroCoder;
            
            }
        }

        .containerButtons{

            div{

                width: 20%;

            }
        }
    }

    /* reestablecer-pw.HTML *////////////////////////////////////////

    .recuadroForgot{

        width: 100%;
        margin: 40px 0px 130px 0px;

    }

    /* planes.HTML *////////////////////////////////////////

    .boxPlanes{

        margin: 0px auto 100px auto;

        h1{

            font-size: 2rem;
            margin: 10px;
        
        }

        .container-planes{

            margin: auto auto 10px auto;
            display: flex;
            flex-direction: row;
        
        }
    }

    /* appcoder.HTML *////////////////////////////////////////

    .boxApps{

        margin-top: 10px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;

    
        .boxMarca{

            width: 50%;
            flex-direction: column;
            margin: 20px auto;

        }


    }


    /* cuenta.HTML *//////////////////////////////////////////

    .boxAyudaLogin{

        margin-top: 0px;

        .boxBotonesLogin{

            width: 100%;
            text-align: center;
            

            button{

                padding: 10px 25px;
                font-size: 1.2rem;

            }
        }

        .campoDeAyuda{

            width: 100%;

            input{

                width: 80%;

            }

        }

        .boxAyudaTemas{

            padding-bottom: 40px;
            flex-direction: column;

            .itemBox{

                padding: 10px;
                margin: 10px;
                text-align: center;
               

                h2{

                    color: $verdeCoder;
                    font-size: 2.2rem;

                } 

                ul li{

                    font-size: 1.4rem;
                    list-style: none;
                    text-decoration: underline;
                }
            }
        }
    }

    /* preguntasFrecuentes.HTML *////////////////////////////////////////

    .seccion{

        width: 100%;
        margin: 0px auto;

        .seccion__respuestas{

            width: 100%;

            h1{

                margin: 30px auto;
            
            }

            .pregunta{

                margin: 20px auto;
                font-size: 1.5rem;
            
            }

            p{

                width: 90%;
                font-size: 1.2rem;

            }
        }
    }
}

@media (min-width: 1001px) and (max-width: 1200px){

    .header{

        width: 100%;
        flex-direction: row;
        position: static;
        
        .containerLogo{

            width: 40%;
            text-align: left;

            a img{

                width: 50%;
                margin: auto;

            }
        }

        .containerSecciones{

            width: 60%;
            margin: auto;
            display: block;
            padding: 0px;

            .secciones{

                display: flex;
                font-size: 1rem;
                flex-direction: row;
                padding: 20px;
                justify-content: center;


                .listItem{

                    text-align: center;
                    padding: 10px;

                    a{
                        margin: 20px auto;
                    }

                    a:hover{

                        color: $verdeCoder;
                        margin-left: 0px;

                    }

                    .campoBusqueda{

                        margin: 0px;
                        width: 100%;
                        border-radius: 0px;
    
                    }

                    i{

                        background-color: #fff;

                    }

                }

            }

            .buttonNav{

                visibility: hidden;

            }
        }
    }

    .img-principal{

        margin-top: 20px;

        .contenedorImg{

            margin: 0 auto;
            margin-bottom: 30px;
        
        }

        .descripcionMovie{

            font-size: 1.2em;
            max-width: 60%;
    
        }

    }

    .containerIndex,
    .containerSeriesMovies{

        .subtitle{

            text-align: center;
            font-size: 2rem;

        }

        .box{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .contenedorImg{
    
                width: 180px;
                transition: all 0.3s ease-in-out;
                margin: auto 60px;
    
                p{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: rgba(0,0,0,0);
                    text-align: center;
                    letter-spacing: 1px;
                    visibility: hidden;
    
                    transition: all 0.3s ease-in-out;
    
                }
    
                .foto{
    
                    width: 180px;
                    height: 220px;
                    margin-top: 30px;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 1px 1px 10px $blancoCoder;
    
                    transition: all 0.3s ease-in-out;
                }
        
                
                .foto:hover{
        
                    box-shadow: 1px 1px 20px $verdeClaroCoder;
                    
                }
                
            }
    
            .contenedorImg:hover{
    
                transform: scale(1.15);
                
                p{
    
                    visibility: visible;
                    color: $blancoCoder;
    
                }
    
            }
        }

        .destacadosKids{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            margin: 50px auto;

            .boxDestacadoKids{
                width: 240px;

                img{

                    width: 240px;
                    height: 240px;
                    border-radius: 150px;
                    cursor: pointer

                }

                p{
                    text-align: center;
                    color: #fff;
                    margin-top: 15px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                transition: all 0.3s ease-in-out;


            }

            .boxDestacadoKids:hover{

                transform: scale(1.1);

                img{
                    box-shadow: 0px 0px 30px $verdeClaroCoder;
                }
            }
        }

        .boxDestacados{

            .fotoDestacada{

                width: 260px;
                height: 350px;
                margin: 10px;

            }        
        }
    }   

    .containerCards{

        .card{

            width: 45%;
            margin: 10px;
            transition: all 0.3s ease-in-out;

            .cover{

                .img__back{

                    border-radius: 0px;
        
                }
            }

            .descripcion{

                border-radius: 0px;
                font-size: 1.2rem;

                h2{

                    font-size: 1.5rem;

                }
            }
        }
    }

    .containerFirstMovie{

        width: 80%;
        margin-bottom: 30px;
        margin-top: 30px;

        .portadaMovie{

            width: 100%;

            img{

                width: 100%;
                margin: auto;
                
            }
        }

        .descripcionMovie{

            font-size: 1.2rem;

        }
    }

    .footerF{

        font-size: 1rem;

        span{

            display: inline;

        }

        span:last-of-type{

            display: block;
    
        }

        a{
            img{

                width: 20%;
            }
        }
    }

    /* LOGIN.HTML *////////////////////////////////////////

    .containerLogin{

        width: 100%;
        margin: 20px auto 100px auto;

        a{
            font-size: 1.3rem;
        }

    }

    /* NEW-USER.HTML *////////////////////////////////////////

    .recuadroDatos{

        width: 60%;

        .cuadroBotones{

            width: 100%;

            .botonNewUser{

                width: 40%;
                display: block;
                margin: 10px auto;

            }

        }

    }

    /* ayuda.HTML *////////////////////////////////////////

    .containerHelp{ 

        margin: 20px auto;
        margin-top: 0px;
        width: 100%; 

        h1{

            padding: 20px;
            font-size: 2.2rem;
        
        }

        .boxHelp{
            
            .itemsHelp{

                width: 100%;

                li{
                    a{
        
                        font-size: 1.8rem;
        
                    }
                }
            }

            .itemsHelp li a:hover{

                color: $verdeClaroCoder;
            
            }
        }

        .containerButtons{

            div{

                width: 20%;

            }
        }
    }

    /* reestablecer-pw.HTML *////////////////////////////////////////

    .recuadroForgot{

        width: 60%;
        margin: 120px auto 140px auto;

    }

    /* planes.HTML *////////////////////////////////////////

    .boxPlanes{

        margin: 0px auto 100px auto;

        h1{

            font-size: 2rem;
            margin: 10px;
        
        }

        .container-planes{

            margin: auto auto 10px auto;
            display: flex;
            flex-direction: row;
        
        }
    }

    /* appcoder.HTML *////////////////////////////////////////

    .boxApps{

        margin-top: 10px;
        padding: 10px;
        flex-direction: row;
        justify-content: center;

    
        .boxMarca{

            width: 30%;
            flex-direction: column;
            margin: 20px auto;

        }


    }


    /* cuenta.HTML *//////////////////////////////////////////

    .boxAyudaLogin{

        margin-top: 0px;

        .boxBotonesLogin{

            width: 100%;
            text-align: center;
            

            button{

                padding: 10px 25px;
                font-size: 1.2rem;

            }
        }

        .campoDeAyuda{

            width: 100%;

            input{

                width: 80%;

            }

        }

        .boxAyudaTemas{

            padding-bottom: 40px;
            flex-direction: column;

            .itemBox{

                padding: 10px;
                margin: 10px;
                text-align: center;
               

                h2{

                    color: $verdeCoder;
                    font-size: 2.2rem;

                } 

                ul li{

                    font-size: 1.4rem;
                    list-style: none;
                    text-decoration: underline;
                }
            }
        }
    }

    /* preguntasFrecuentes.HTML *////////////////////////////////////////

    .seccion{

        width: 70%;
        margin: 0px auto;

        .seccion__respuestas{

            width: 100%;

            h1{

                margin: 30px auto;
            
            }

            .pregunta{

                margin: 20px auto;
                font-size: 1.5rem;
            
            }

            p{

                width: 90%;
                font-size: 1.2rem;

            }
        }
    }
}

@media (min-width: 1201px) and (max-width: 1500px){

    .header{

        width: 100%;
        flex-direction: row;
        position: static;
        
        .containerLogo{

            width: 40%;
            text-align: left;

            a img{

                width: 50%;
                margin: auto;

            }
        }

        .containerSecciones{

            width: 60%;
            margin: auto;
            display: block;
            padding: 0px;

            .secciones{

                display: flex;
                font-size: 1rem;
                flex-direction: row;
                padding: 20px;
                justify-content: center;

                .listItem{

                    text-align: center;
                    padding: 10px;

                    a{
                        margin: 20px auto;
                    }

                    a:hover{

                        color: $verdeCoder;
                        margin-left: 0px;

                    }

                    .campoBusqueda{

                        margin: 0px;
                        width: 100%;
                        border-radius: 0px;
    
                    }

                    i{

                        background-color: #fff;

                    }

                }

            }

            .buttonNav{

                visibility: hidden;

            }
        }
    }

    .img-principal{

        margin-top: 20px;

        .contenedorImg{

            margin: 0 auto;
            margin-bottom: 30px;
        
        }

        .descripcionMovie{

            font-size: 1.2em;
            max-width: 60%;
    
        }

    }

    .containerIndex,
    .containerSeriesMovies{

        .subtitle{

            text-align: center;
            font-size: 2rem;

        }

        .box{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .contenedorImg{
    
                width: 160px;
                transition: all 0.3s ease-in-out;
                margin: auto 0px;
    
                p{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: rgba(0,0,0,0);
                    text-align: center;
                    letter-spacing: 1px;
                    visibility: hidden;
    
                    transition: all 0.3s ease-in-out;
                }
    
                .foto{
    
                    width: 160px;
                    height: 200px;
                    margin-top: 30px;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 1px 1px 10px $blancoCoder;
    
                    transition: all 0.3s ease-in-out;
                }

        
                .foto:hover{
        
                    box-shadow: 1px 1px 20px $verdeClaroCoder;
                    
                }
                
            }
    
            .contenedorImg:hover{
    
                transform: scale(1.15);
                
                p{
    
                    visibility: visible;
                    color: $blancoCoder;
    
                }
    
            }
        }

        .destacadosKids{

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            margin: 50px auto;

            .boxDestacadoKids{
                width: 240px;

                img{

                    width: 240px;
                    height: 240px;
                    border-radius: 150px;
                    cursor: pointer

                }

                p{
                    text-align: center;
                    color: #fff;
                    margin-top: 15px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                transition: all 0.3s ease-in-out;


            }

            .boxDestacadoKids:hover{

                transform: scale(1.1);

                img{
                    box-shadow: 0px 0px 30px $verdeClaroCoder;
                }
            }
        }

        .boxDestacados{

            .fotoDestacada{

                width: 260px;
                height: 350px;
                margin: 10px;

            }        
        }
    }   

    .containerCards{

        .card{

            width: 20%;
            margin: 10px;
            transition: all 0.3s ease-in-out;

            .cover{

                .img__back{

                    border-radius: 0px;
        
                }
            }

            .descripcion{

                border-radius: 0px;
                font-size: 1rem;

                h2{

                    font-size: 1.5rem;

                }
            }
        }
    }

    .containerFirstMovie{

        width: 80%;
        margin-bottom: 30px;
        margin-top: 30px;

        .portadaMovie{

            width: 100%;

            img{

                width: 100%;
                margin: auto;
                
            }
        }

        .descripcionMovie{

            font-size: 1.2rem;

        }
    }

    .footerF{

        font-size: 1rem;

        span{

            display: inline;

        }

        span:last-of-type{

            display: block;
    
        }

        a{
            img{

                width: 20%;
            }
        }
    }

    /* LOGIN.HTML *////////////////////////////////////////

    .containerLogin{

        width: 50%;
        margin: 20px auto 100px auto;

        a{
            font-size: 1.3rem;
        }

    }

    /* NEW-USER.HTML *////////////////////////////////////////

    .recuadroDatos{

        width: 60%;

        .cuadroBotones{

            width: 100%;

            .botonNewUser{

                width: 40%;
                display: block;
                margin: 10px auto;

            }

        }

    }

    /* ayuda.HTML *////////////////////////////////////////

    .containerHelp{ 

        margin: 20px auto;
        margin-top: 0px;
        width: 100%; 

        h1{

            padding: 20px;
            font-size: 2.2rem;
        
        }

        .boxHelp{
            
            .itemsHelp{

                width: 100%;

                li{
                    a{
        
                        font-size: 1.8rem;
        
                    }
                }
            }

            .itemsHelp li a:hover{

                color: $verdeClaroCoder;
            
            }
        }

        .containerButtons{

            div{

                width: 10%;

            }
        }
    }

    /* reestablecer-pw.HTML *////////////////////////////////////////

    .recuadroForgot{

        width: 60%;
        margin: 120px auto 140px auto;

    }

    /* planes.HTML *////////////////////////////////////////

    .boxPlanes{

        margin: 0px auto 100px auto;

        h1{

            font-size: 2rem;
            margin: 10px;
        
        }

        .container-planes{

            margin: auto auto 10px auto;
            display: flex;
            flex-direction: row;
        
        }
    }

    /* appcoder.HTML *////////////////////////////////////////

    .boxApps{

        margin-top: 10px;
        padding: 10px;
        flex-direction: row;
        justify-content: center;

    
        .boxMarca{

            width: 30%;
            flex-direction: column;
            margin: 20px auto;

        }


    }


    /* cuenta.HTML *//////////////////////////////////////////

    .boxAyudaLogin{

        margin-top: 0px;

        .boxBotonesLogin{

            width: 100%;
            text-align: center;
            

            button{

                padding: 10px 25px;
                font-size: 1.2rem;

            }
        }

        .campoDeAyuda{

            width: 50%;
            margin: auto;

            input{

                width: 80%;

            }

        }

        .boxAyudaTemas{

            padding-bottom: 40px;
            flex-direction: column;

            .itemBox{

                padding: 10px;
                margin: 10px;
                text-align: center;
               

                h2{

                    color: $verdeCoder;
                    font-size: 2rem;

                } 

                ul li{

                    font-size: 1.2rem;
                    list-style: none;
                    text-decoration: underline;
                }
            }
        }
    }

    /* preguntasFrecuentes.HTML *////////////////////////////////////////

    .seccion{

        width: 70%;
        margin: 0px auto;

        .seccion__respuestas{

            width: 100%;

            h1{

                margin: 30px auto;
            
            }

            .pregunta{

                margin: 20px auto;
                font-size: 1.5rem;
            
            }

            p{

                width: 90%;
                font-size: 1.2rem;

            }
        }
    }
}
